name: Build

on:
  workflow_dispatch:
  push:
    paths:
      - '**/*.java'
      - '**/*.kt'
      - '**/*.gradle'
      - '**/*.gradle.kts'
      - '**/gradle-wrapper.properties'
    branches:
      - main
  pull_request:
    paths:
      - '**/*.java'
      - '**/*.kt'
      - '**/*.gradle'
      - '**/*.gradle.kts'
      - '**/gradle-wrapper.properties'
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version: [ '17' ]
        work-dir: [ '.' ]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Grant execute permission for Gradle
        working-directory: ${{ matrix.work-dir }}
        run: chmod +x ./gradlew

      - name: Build with Gradle
        working-directory: ${{ matrix.work-dir }}
        run: ./gradlew build --no-daemon